@page "/management"

@if (User is not { RoleId: RoleId.Administrator })
{
    <MudAlert Severity="Severity.Error">You are not authorized to access this resource.</MudAlert>
}
else
{
    <Breadcrumb Items="_breadcrumb"/>

    <MudTabs Outlined="true" Position="Position.Top" Border="true" ApplyEffectsToContainer="true" Style="height: calc(100vh - 6.6rem);">
        <MudTabPanel Text="Users">
            <ChildContent>
                @foreach (var user in Users)
                {
                    <MudCard Outlined="true" Square="false" Class="pa-2 ma-2">
                        <MudGrid Spacing="1">
                            <MudItem xs="4">
                                <MudField Label="Email Address" Variant="Variant.Outlined">@user.EmailAddress</MudField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudTextField T="string"Label="Name" Variant="Variant.Outlined" @bind-Value="@user.Name">@user.Name</MudTextField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudField Label="Role" Variant="Variant.Outlined" InnerPadding="false">
                                    <MudRadioGroup T="RoleId" @bind-SelectedOption="@user.RoleId" Disabled="@user.EmailAddress.Equals(User?.EmailAddress)">
                                        @foreach (var role in RoleHelper.GetAll())
                                        {
                                            <MudRadio T="RoleId" Option="@role.Id" Color="Color.Primary">@role.Name</MudRadio>
                                        }
                                    </MudRadioGroup>
                                </MudField>
                            </MudItem>
                        </MudGrid>
                    </MudCard>
                }
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel Text="Uplifts">
            <ChildContent>
                <MudGrid Spacing="0" Class="ma-2 gap-2">
                    <MudDatePicker Label="Start Date"/>
                    <MudDatePicker Label="End Date"/>
                    <MudSelect T="string" Label="Type">
                        <MudSelectItem Value="@("Flexi")"/>
                        <MudSelectItem Value="@("BPP")"/>
                    </MudSelect>
                    <MudNumericField Label="Min Weight" Min="0" Max="999" Step=".1"></MudNumericField>
                    <MudNumericField Label="Max Weight" Min="0" Max="999" Step=".1"></MudNumericField>

                    <MudSelect T="string" Label="Unit of Measure">
                        <MudSelectItem Value="@("KG")"/>
                        <MudSelectItem Value="@("HEAD")"/>
                    </MudSelect>

                    <MudNumericField Label="Rate" Step=".1"></MudNumericField>
                </MudGrid>
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel Text="Premiums">
            <ChildContent>
                <MudGrid Spacing="0" Class="ma-2 gap-2">
                    <MudDatePicker Label="Start Date"/>
                    <MudDatePicker Label="End Date"/>
                    <MudSelect T="string" Label="Type">
                        <MudSelectItem Value="@("PREMIUM SHORN LAMB")"/>
                        <MudSelectItem Value="@("NAT POS PREM")"/>
                        <MudSelectItem Value="@("LCORP SPRING COMMIT")"/>
                        <MudSelectItem Value="@("EQ PREMIUM - ANGUS")"/>
                        <MudSelectItem Value="@("WINT LAMB 100")"/>
                        <MudSelectItem Value="@("EQ PREMIUM - RESERVE")"/>
                    </MudSelect>
                    <MudNumericField Label="Min Weight" Min="0" Max="999" Step=".1"></MudNumericField>
                    <MudNumericField Label="Max Weight" Min="0" Max="999" Step=".1"></MudNumericField>

                    <MudSelect T="string" Label="Unit of Measure">
                        <MudSelectItem Value="@("KG")"/>
                        <MudSelectItem Value="@("HEAD")"/>
                    </MudSelect>

                    <MudNumericField Label="Rate" Step=".1"></MudNumericField>
                </MudGrid>
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel Text="Deductions">
            <ChildContent>
                <MudGrid Spacing="0" Class="ma-2 gap-2">
                    <MudDatePicker Label="Start Date"/>
                    <MudDatePicker Label="End Date"/>
                    <MudSelect T="string" Label="Type">
                        <MudSelectItem Value="@("INSPECTION DEER")"/>
                        <MudSelectItem Value="@("B+L BEEF")"/>
                        <MudSelectItem Value="@("INSPECTION NI CATTLE")"/>
                        <MudSelectItem Value="@("INSPECTION SI CATTLE")"/>
                        <MudSelectItem Value="@("DINZ")"/>
                        <MudSelectItem Value="@("NO NAIT TAG")"/>
                        <MudSelectItem Value="@("DISEASE LEVY BEEF")"/>
                        <MudSelectItem Value="@("INSPECTION SI LAMB")"/>
                        <MudSelectItem Value="@("TBFREE NZ LEVY")"/>
                        <MudSelectItem Value="@("INSPECTION NI LAMB")"/>
                    </MudSelect>
                    <MudNumericField Label="Min Weight" Min="0" Max="999" Step=".1"></MudNumericField>
                    <MudNumericField Label="Max Weight" Min="0" Max="999" Step=".1"></MudNumericField>

                    <MudSelect T="string" Label="Unit of Measure">
                        <MudSelectItem Value="@("KG")"/>
                        <MudSelectItem Value="@("HEAD")"/>
                    </MudSelect>

                    <MudNumericField Label="Rate" Step=".1"></MudNumericField>
                </MudGrid>
            </ChildContent>
        </MudTabPanel>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="ma-2" OnClick="SaveChanges">
            Save Changes
        </MudButton>
    </MudTabs>

    @switch (_managementPage)
    {
        case ManagementPage.Upcharge:
            <h4>Upcharge Management</h4>
            <MudToolBar Class="gap-4">
                <MudSelect T="Meatwork" ToStringFunc="_meatworkConverter" Label="Works">
                    @foreach (var meatwork in DbContext.Set<Meatwork>().ToList())
                    {
                        <MudSelectItem Value="@meatwork"/>
                    }
                </MudSelect>
                <MudSelect Label="Animal Type" ToStringFunc="_animalTypeConverter" T="AnimalType">
                    @foreach (var animalType in DbContext.Set<AnimalType>().ToList())
                    {
                        <MudSelectItem Value="@animalType"/>
                    }
                </MudSelect>
                <MudDatePicker Label="Start Date"/>
                <MudDatePicker Label="End Date"/>
                <MudNumericField Label="Min Weight" Format="N1" Min="0.0" Max="999.0" Step="0.5" T="double"/>
                <MudNumericField Label="Max Weight" Format="N1" Min="0.0" Max="999.0" Step="0.5" T="double"/>
                <MudButton Color="Color.Primary" Variant="Variant.Filled">Submit</MudButton>
            </MudToolBar>
            break;
        case ManagementPage.Premiums:
            <h4>Premiums Management</h4>
            break;
        case ManagementPage.Deductions:
            <h4>Deductions Management</h4>
            break;
    }
}