@typeparam T 
@inherits DataGridPage<T>

<div class="@(ShowBreadcrumb ? "d-block" : "d-none")">
    <Breadcrumb Items="Breadcrumb"/>
</div>

<div class="d-flex flex-wrap mt-4">
    <div class="d-flex justify-start align-center">
        <MudButton OnClick="@AddRow" Color="Color.Primary">Add Item</MudButton>
    </div>
    <div class="d-flex justify-start align-center">
        <MudButton OnClick="@RemoveRows" Color="Color.Secondary">@($"Remove Items ({SelectedRows.Count})")</MudButton>
    </div>
    <div class="d-flex justify-start align-center">
        <MudSwitch @bind-Checked="@ReadOnly" Color="Color.Primary">@(ReadOnly ? "Read Only Mode" : "Edit Mode")</MudSwitch>
        </div>
</div>