<MudDialog>
    <DialogContent>
        <MudDataGrid
            T="Transit"
            Items="Transits" SortMode="SortMode.None" FixedHeader="true" Hover="true" MultiSelection="true"
            Dense="true" Bordered="true" Square="true" Height="50vh" Class="mb-3" SelectedItemsChanged="@SelectedItemsChanged"
            SelectedItems="@SelectedItems">
            <Columns>
                <SelectColumn T="Transit" ShowInHeader="false" ShowInFooter="false" />
                <PropertyColumn Property="@(x => x.Id)" Title="FMS ID"/>
                <PropertyColumn Property="@(x => x.Farm.Name)" Title="Farm"/>
                <PropertyColumn Property="@(x => x.Plant.Name)" Title="Plant"/>
                <PropertyColumn Property="@(x => x.Date)" Format="dd/MM/yyyy" Title="Date"/>
                <PropertyColumn Property="@(x => x.SpeciesType.DisplayName)" Title="Species"/>
                <PropertyColumn Property="@(x => x.Quantity)" Title="Quantity"/>
            </Columns>
            <NoRecordsContent>
                <MudText>No Transits Found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading Transits...</MudText>
            </LoadingContent>
        </MudDataGrid>
        
        <div class="d-flex mt-2">
            <MudSpacer/>
            <MudButton Size="Size.Medium" Color="Color.Primary" Variant="Variant.Outlined" OnClick="@Save">
                Save
            </MudButton>
        </div>
    </DialogContent>
</MudDialog>